/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.nav {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav .nav-items {
  display: flex;
  justify-content: space-between;
  width: 23%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #9a9a9a;
  padding: 20px 30px 20px 20px;
}
.footer .footer-left {
  width: 45%;
}
.footer .footer-right {
  width: 20%;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #000000;
  line-height: 2;
  font-size: 1.4rem;
}
.home .header {
  background-image: url(https://images.unsplash.com/photo-1551651057-f3f83700a831?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.home .header .jumbotron {
  text-align: center;
  color: black;
  padding-top: 190px;
  line-height: 2;
}
.home .header .jumbotron .btn {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  display: block;
  background: grey;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 1rem;
}
.home .search {
  display: flex;
  width: 350px;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 50px;
  align-items: baseline;
}
.home .search a {
  text-decoration: none;
  color: black;
}
.home .cards {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.home .cards .card {
  width: 300px;
  height: 350px;
  background: green;
  margin: 40px;
}
.home .cards .card .img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.home .more-info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .more-info-section .more-info {
  background: #9a9a9a;
  border: 4px solid red;
  width: 70%;
  margin: auto auto;
  vertical-align: middle;
  margin-bottom: 20px;
}
